#card-shortRangeComm{
	margin-top: 45px;
}
#card-shortRangeComm .commControls{
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	justify-content: space-around;
   	-webkit-justify-content: space-around;
   	height: 68vh;

}
#card-shortRangeComm .commControls img{
	flex: 1;
	height: 22vw;
	width: 22vw;
}
#card-shortRangeComm .frequencySelect{
	height: 68vh;
}
#card-shortRangeComm .freqBar{
    height: 64vh;
    width: 40px;
    position: absolute;
    right: 55px;
    background-image: url(/packages/card-shortRangeComm/svg/freqBar.svg);
        background-repeat:repeat;
}
#card-shortRangeComm .ampBar{
    height: 64vh;
    width: 40px;
    position: absolute;
    top:20px;
    right: 55px;
    background-image: url(/packages/card-shortRangeComm/svg/ampBar.svg);
        background-repeat:repeat;
}
#card-shortRangeComm .amplitudeSelect{
    height: 68vh;   
}
#card-shortRangeComm .commCandy{
	height: 68vh;
    padding: 0;
    border: solid 1px #666;
    background-color: #333;
    border-radius: 5px;
}
#card-shortRangeComm .canvasCandy{

}

#card-shortRangeComm .slider.slider-vertical{
 height: 65vh;   
    position: absolute;
    right: 30px;
}

#card-shortRangeComm .slider.slider-horizontal{
 height: 65vh;   
    position: absolute;
    right: 60px;  

}

#card-shortRangeComm .slider.slider-vertical .slider-handle{
    background-image: url(/themes/default/public/svg/default.png);
    -webkit-border-radius: 0px;
    border-radius: 0px;
    width: 40px;
    height: 15px;
    -webkit-clip-path: polygon(100% 0%, 20% 0%, 0% 40%, 100% 40%, 100% 60%, 0% 60%, 20% 100%, 100% 100%); 
    
}

#card-shortRangeComm .slider.slider-horizontal .slider-handle{
    background-image: url(/themes/default/public/svg/default.png);
    -webkit-border-radius: 0px;
    border-radius: 0px;
    width: 15px;
    height: 40px;
    -webkit-clip-path: polygon(40% 0%, 0% 0%, 0% 80%, 40% 100%, 40% 0%, 60% 0%, 60% 100%, 100% 80%, 100% 0%); 
    
}

#card-shortRangeComm .slider-track, #card-shortRangeComm  .slider-selection  {
    background-image: url() ;
    background-color: transparent;
}

#card-shortRangeComm .freqControl{
	float: right;
	position: relative;
}

#card-shortRangeComm .commList{
	float: left;
	width: 100%;
}

#card-shortRangeComm .commList p{
	width: 70%;
	padding: 0px;
	margin: 0px;
	font-size: 30px;
	border-top: solid 1px #fff;
	white-space: nowrap;
	font-family: 'Steelfish';
}
#card-shortRangeComm .commList p:nth-child(1){
 height: 10vh;
 line-height: 10vh;
}
#card-shortRangeComm .commList p:nth-child(2){
 height: 8vh;
 line-height: 8vh;

}
#card-shortRangeComm .commList p:nth-child(3){
	height: 7vh;
 line-height: 7vh;

}
#card-shortRangeComm .commList p:nth-child(4){
 height: 11vh;
  line-height: 11vh;

}
#card-shortRangeComm .commList p:nth-child(5){
	height: 14vh;
	  line-height: 14vh;

}
#card-shortRangeComm .commList p:nth-child(6){
	height: 8vh;
	  line-height: 8vh;

}
#card-shortRangeComm .commList p:nth-child(7){
 height: 6.5vh;
   line-height: 6.5vh;
 	border-bottom: solid 1px #fff;

}