#card-shortRangeComm{
	margin-top: 45px;
}
#card-shortRangeComm .commControls{
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	justify-content: space-around;
   	-webkit-justify-content: space-around;
   	height: 68vh;

}
#card-shortRangeComm .commControls img{
	flex: 1;
	height: 21vw;
	width: 21 vw;
}
#card-shortRangeComm .commSelect{
	height: 68vh;
}
#card-shortRangeComm .commCandy{
	height: 68vh;
    padding: 0;
    margin: 0;
    border: solid 1px #666;
    background-color: #333;
    border-radius: 5px;
}
#card-shortRangeComm .canvasCandy{
	height: 68vh;
    overflow: hidden;
}

