.row{
    position: relative;
    width: 100%;
}
.flexRow .btn-login{
	text-align:center;
}
.text-center {
    width: 100%;
}
.text-center h1{
   margin: 10px;
   margin-bottom: 55px;
   width: 100%;   
}