.flexRow{
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
      justify-content: center;
    width:  80vw;
 }
.flexRow .login-group{
	margin-top: 20px;
	margin-bottom: 20px;
}
.flexRow .simLogo{
	width: 250px;
	margin: 0 auto;
}
.flexRow .btn-login{
	text-align:center;
}
.text-center {
    width: 100%;
}
.text-center h1{
 margin: 10px;
 margin-bottom: 55px;
 width: 100%;   
}
.flexRow .btn {
    width: 100%;
}