#card-particleField .node {
  stroke: #fff;
  stroke-width: 1.5px;
}

#card-particleField .link {
  stroke: #999;
  stroke-opacity: .6;
}

#card-particleField .field {
	width: 100%;
	height: 500px;
}

#card-particleField .field svg {
    background-color: rgba(76,76,76,0.3);
  border: 1px solid rgba(144,144,144,0.49);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

#card-particleField .row-adjust {
  margin-top: 1em;
}