body {
  margin: 0;
  padding: 0;
}
.card-container{
  color: #fff;
  overflow: hidden;
  position: fixed;
  padding-top: 10px;
  height: 80vh;
  width: 85vw;
  left: 10vw;
  top: 12vh;
}
.layout_digital{
  .well{
    background-color: rgba(10,10,10,0.75);
    border-color: rgba(245,245,245,0.5);
  }
  .main_background {
    position: fixed;
    width: 100vw;
    height: 100vh;
  }
  .main_background.alertColor4, .main_background.alertColor5{
    background: linear-gradient(165deg, #000000 0%, #081a29 50%, #000000 100%);
  }
  .main_background.alertColor3{
    background: linear-gradient(165deg, #000000 0%, #292908 50%, #000000 100%);
  }
  .main_background.alertColor2{
    background: linear-gradient(165deg, #000000 0%, #291808 50%, #000000 100%);
  }
  .main_background.alertColor1{
    background: linear-gradient(165deg, #000000 0%, #290808 50%, #000000 100%);
  }
  .background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    div{
      position: absolute;
      background-size: cover;
    }
    svg {
      position: fixed;
      background-color: transparent;
      cursor: auto;
    }
    .bottomLeft-bracket-end{
      width: 2.4479%;
      height: 3.240%;
      bottom: 0px;
      left: calc(~"7.656% + 2.03125%");
      background-image: url(/themes/digital/frame/bottomLeft-bracket-end.png);
    }
    .bottomLeft-bracket-mid{
      width: 7.656%;
      height: 68.425%;
      bottom: 0px;
      left: 0px;
      background-image: url(/themes/digital/frame/bottomLeft-bracket-mid.png);
    }
    .bottomLeft-bracket-x{
      width: 2.03125%;
      height: 3.240%;
      bottom: 0px;
      left: 7.656%;
      background-image: url(/themes/digital/frame/bottomLeft-bracket-x.png);
    }
    .bottomRight-bracket-end{
      width: 3.22916%;
      height: 10.277%;
      bottom: 0px;
      right: 0px;
      background-image: url(/themes/digital/frame/bottomRight-bracket-end.png);
    }
    .bottomRight-bracket-start{
      width: 58.125%;
      height: 10.277%;
      bottom: 0px;
      right: calc(~"3.229% + 2.239%");
      background-image: url(/themes/digital/frame/bottomRight-bracket-start.png);
    }
    .bottomRight-bracket-x{
      width: 2.23958%;
      height: 10.277%;
      bottom: 0px;
      right: 3.229%;
      background-image: url(/themes/digital/frame/bottomRight-bracket-x.png);
    }
    .left-doodad{
      width: 7.343%;
      height: 44.166%;
      bottom: 4.166%;
      left: 3.906%;
      background-image: url(/themes/digital/frame/left-doodad.png);
    }
    .leftBottom-bracket-start{
      width: 8.177%;
      height: 9.814%;
      left: 0px;
      bottom: calc(~"68.425% + 3.518%");
      background-image: url(/themes/digital/frame/leftBottom-bracket-start.png);
    }
    .leftBottom-bracket-x{
      width: 7.187%;
      height: 3.518%;
      left: 0px;
      bottom: 68.425%;
      background-image: url(/themes/digital/frame/leftBottom-bracket-x.png);
    }
    .rightTop-bracket-end{
      width: 3.229%;
      height: 3.425%;
      right: 0px;
      top: calc(~"15.277% + 3.055%");
      background-image: url(/themes/digital/frame/rightTop-bracket-end.png);
    }
    .rightTop-bracket-x{
      width: 2.708%;
      height: 3.055%;
      right: 0px;
      top: 15.277%;
      background-image: url(/themes/digital/frame/rightTop-bracket-x.png);
    }
    .topRight-bracket-mid{
      width: 17.395%;
      height: 15.277%;
      top: 0;
      right: 0;
      background-image: url(/themes/digital/frame/topRight-bracket-mid.png);
    }
    .topRight-bracket-start{
      width: 1.406%;
      height: 32px;
      top: 0px;
      right: calc(~"17.395% + 1.041%");
      background-image: url(/themes/digital/frame/topRight-bracket-start.png);
    }
    .topRight-bracket-x{
      width: 1.354%;
      height: 3.703%;
      top: 0px;
      right: 17.395%;
      background-image: url(/themes/digital/frame/topRight-bracket-x.png);
    }
    .topLeft-bracket-end{
      width: 1.458%;
      height: 2.870%;
      top: 0px;
      left: calc(~"25.885% + 1.041%");
      background-image: url(/themes/digital/frame/topLeft-bracket-end.png);
    }
    .topLeft-bracket-x{
      width: 1.041%;
      height: 7.407%;
      top: 0px;
      left: 25.885%;
      background-image: url(/themes/digital/frame/topLeft-bracket-x.png);
    }
    .topLeft-bracket-start{
      width: 25.885%;
      height: 7.407%;
      top: 0px;
      left: 0px;
      background-image: url(/themes/digital/frame/topLeft-bracket-start.png);
    }
    /*Doodads*/
    .nameBox {
      top: 2.5vh;
      left: 2vw;
      width: 23.437vw;
    }
    .powerUp-doodad {
      width: 2.3437vw;
      right: 1vw;
      bottom: 9vh;
    }
    .powerUp-holder {
      position: fixed;
      width: 1.7vw;
      height: 44.981vh;
      right: 1.3vw;
      bottom: 9vh;
      -webkit-clip-path: polygon(80% 1%, 0 7%, 0 92%, 90% 98%, 100% 98%, 100% 40%, 50% 37%, 50% 17%, 100% 13.5%, 100% 1%, 80% 1%);
    }
    .powerUp-bar {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, rgba(20, 85, 115, 0) 50%, #145573 51%, #145573 100%);
      background-size: 10px;
      background-attachment: fixed;
      background-position: 100% 100%;
      transition: height 1s ease-in-out;
    }
    .powerUp-holder:hover .powerUp-bar {
      height: 50%;
    }

  }
  .background-overlay.retina{
    .bottomLeft-bracket-end{
      background-image: url(/themes/digital/frame/bottomLeft-bracket-end@2x.png);
    }
    .bottomLeft-bracket-mid{
      background-image: url(/themes/digital/frame/bottomLeft-bracket-mid@2x.png);
    }
    .bottomLeft-bracket-x{
      background-image: url(/themes/digital/frame/bottomLeft-bracket-x@2x.png);
    }
    .bottomRight-bracket-end{
      background-image: url(/themes/digital/frame/bottomRight-bracket-end@2x.png);
    }
    .bottomRight-bracket-start{
      background-image: url(/themes/digital/frame/bottomRight-bracket-start@2x.png);
    }
    .bottomRight-bracket-x{
      background-image: url(/themes/digital/frame/bottomRight-bracket-x@2x.png);
    }
    .left-doodad{
      background-image: url(/themes/digital/frame/left-doodad@2x.png);
    }
    .leftBottom-bracket-start{
      background-image: url(/themes/digital/frame/leftBottom-bracket-start@2x.png);
    }
    .leftBottom-bracket-x{
      background-image: url(/themes/digital/frame/leftBottom-bracket-x@2x.png);
    }
    .rightTop-bracket-end{
      background-image: url(/themes/digital/frame/rightTop-bracket-end@2x.png);
    }
    .rightTop-bracket-x{
      background-image: url(/themes/digital/frame/rightTop-bracket-x@2x.png);
    }
    .topRight-bracket-mid{
      background-image: url(/themes/digital/frame/topRight-bracket-mid@2x.png);
    }
    .topRight-bracket-start{
      background-image: url(/themes/digital/frame/topRight-bracket-start@2x.png);
    }
    .topRight-bracket-x{
      background-image: url(/themes/digital/frame/topRight-bracket-x@2x.png);
    }
    .topLeft-bracket-end{
      background-image: url(/themes/digital/frame/topLeft-bracket-end@2x.png);
    }
    .topLeft-bracket-x{
      background-image: url(/themes/digital/frame/topLeft-bracket-x@2x.png);
    }
    .topLeft-bracket-start{
      background-image: url(/themes/digital/frame/topLeft-bracket-start@2x.png);
    }
  }

  .button,.btn{
    font-family: 'Gamecuben';
    text-transform: uppercase;
    color: #fff;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    padding-left: 30px;
    height: 65px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-right: 0px;
    min-width: 187.5px;
    box-sizing: border-box;
    background-image: url(/themes/digital/frame/button1.png);
    background-repeat: no-repeat, repeat-x;
    background-position: 0px, 32px;
  }
  .button:before,.button:after, .btn:before, .btn:after{
    position: absolute;
    z-index: -1;
    height: 65px;
  }
  .button:before, .btn:before{
   width: calc(~'100% - 187.5px');
   left: 36px;
   top: 0;
   content:'';
   background-image: url(/themes/digital/frame/button2.png)
 }
 .button:after, .btn:after{
   width: 93px;
   right: 59px;
   bottom: 0;
   content: url(/themes/digital/frame/button3.png);
 }


.cardControl{
  position: fixed;
  bottom:  80px;
  right:  170px;
}
.currentCard-button{
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: rgba(45, 130, 187,0.5);
  border: 3px solid #999;
  border-radius: 50%;
  z-index:1000;
  left: 40px;
}
.currentCard-button img{
  width: 60px;
  height: 60px;
  padding: 3px;
  margin-left: 2px;
  margin-top: 2px;
  border: 1px solid #aaa;
  border-radius: 50%;
}
.cardControl:hover .currentCard-button{
  background-color: rgba(104, 180, 230,0.5);
}
li.digital_cardLink{
  display: block;
  position: absolute;
  top: 40px;
  opacity: 0;
  left: -90px;
}
.currentCard-button:not(.locked):hover ~ .digital_cardList li.digital_cardLink, .digital_cardList:hover li.digital_cardLink{
  opacity: 1;
}
li.digital_cardLink:nth-child(1){
  transition: top 0.5s ease-in-out 0.1s, opacity 0.5s ease-in 0.1s;
}
li.digital_cardLink:nth-child(2){
  transition: top 0.5s ease-in-out 0.2s, opacity 0.5s ease-in 0.2s;
}
li.digital_cardLink:nth-child(3){
  transition: top 0.5s ease-in-out 0.3s, opacity 0.5s ease-in 0.3s;
}
li.digital_cardLink:nth-child(4){
  transition: top 0.5s ease-in-out 0.4s, opacity 0.5s ease-in 0.4s;
}
li.digital_cardLink:nth-child(5){
  transition: top 0.5s ease-in-out 0.5s, opacity 0.5s ease-in 0.5s;
}
li.digital_cardLink:nth-child(6){
  transition: top 0.5s ease-in-out 0.6s, opacity 0.5s ease-in 0.6s;
}
.currentCard-button:not(.locked):hover ~ .digital_cardList li.digital_cardLink:nth-child(1), .digital_cardList:hover li.digital_cardLink:nth-child(1){
  top: -50px;
}
.currentCard-button:not(.locked):hover ~ .digital_cardList li.digital_cardLink:nth-child(2), .digital_cardList:hover li.digital_cardLink:nth-child(2){
  top: -110px;
}
.currentCard-button:not(.locked):hover ~ .digital_cardList li.digital_cardLink:nth-child(3), .digital_cardList:hover li.digital_cardLink:nth-child(3){
  top: -170px;
}
.currentCard-button:not(.locked):hover ~ .digital_cardList li.digital_cardLink:nth-child(4), .digital_cardList:hover li.digital_cardLink:nth-child(4){
  top: -230px;
}
.currentCard-button:not(.locked):hover ~ .digital_cardList li.digital_cardLink:nth-child(5), .digital_cardList:hover li.digital_cardLink:nth-child(5){
  top: -290px;
}
.currentCard-button:not(.locked):hover ~ .digital_cardList li.digital_cardLink:nth-child(6), .digital_cardList:hover li.digital_cardLink:nth-child(6){
  top: -360px;
}
.lockScreen svg{
  width: 42px;
  height: 42px;
  padding: 3px;
  margin-left: 2px;
  margin-top: 2px;
  border: 1px solid #aaa;
  border-radius: 50%;
  background-color: transparent;
}
.lockScreen{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 30px;
  background: radial-gradient(ellipse at center, rgba(76,76,76,0.75) 0%,rgba(89,89,89,0.75) 27%,rgba(102,102,102,0.75) 48%,rgba(71,71,71,0.75) 75%,rgba(19,19,19,0.75) 100%);
  border: 2px solid #999;
  border-radius: 50%;
  z-index:1000;
}
.lockScreen:hover{
  background: radial-gradient(ellipse at center, rgba(126,126,126,0.75) 0%,rgba(139,139,139,0.75) 27%,rgba(152,152,152,0.75) 48%,rgba(121,121,121,0.75) 75%,rgba(50,50,50,0.75) 100%);
}
.username{
  top: 50px;
  left: 140px;
  width: 215px;
  text-align: center;
}
.stationName{
  top:69px;
  left: 140px;
  width: 215px;
  text-align: center;
}
.profilePicture{
  top:24px;
  left: 31px;
  width: 100px;
  height: 100px;
  img {
    width: 100px;
    border-radius: 100%
  }
}
.alertColor{
  right: 42px;
  top: 90px;
  width: 100px;
  height: 14px;
  opacity: 0.3;
  border-radius: 0px 0px 0px 10px;
}
.alertNum{
  font-size: 72px;
  right: 50px;
  text-align: center;
  width: 64px;
}
.alertColor.alertColor4, .alertColor.alertColor5{
  background-color: rgb(0,255,0);
}
.alertColor.alertColor3{
  background-color: rgb(255,255,0);
}
.alertColor.alertColor2{
  background-color: rgb(255,128,0);
}
.alertColor.alertColor1{
  background-color: rgb(255,0,0);
}

}