<template name="card_login">
	<div class="row-fluid">
		<div class="span8 well">
			<h3>Login</h3>
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label">Name</label>
					<div class="controls">
						<input type="text" class="loginname login-input"/>
						<span class="input uneditable-input loginname hide">Test</span>
					</div>
				</div>
						  
				<div class="control-group">
					<div class="controls">
						<input type="submit" value="Login" class="btn btn-primary btn-login login-input"/>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>
