<head>
  <title>Flint</title>
</head>

<body>
  {{renderPage}}
  {{> programming_tools}}
  {{> themePicker}}
</body>

<template name="stationPicker">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <h1>Station Picker</h1>
        <h2>Select Simulator</h2>
        <div class="btn-group">
          {{#each simulators}}
            <button class="simulator btn btn-primary">{{name}}</button>
          {{/each}}
        </div>
        
        {{#if selectedSimulator}}
          <h2>Select Station</h2>
          <div class="btn-group">
            {{#each stations}}
              <button class="station btn btn-primary">{{name}}</button>
            {{/each}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name="cardList">
  <ul class="nav nav-list well">
      <li class="nav-header">{{stationName}}</li>
    {{#each cards}}
      <li class="{{#if isCurrentCard cardId}}active{{/if}}"><a href="#">{{name}}</a></li>
    {{/each}}
  </ul>
</template>

<template name="programming_tools">
  {{#if programmingEnabled}}
    {{>logs_bootstrap}}
  {{/if}}
  {{#if offline}}
  <div class="alert alert-error">
      <h4>{{offlineStatus}}</h4>
      <p>{{offlineMessage}}</p>
      <p>{{offlineCounting}}</p>
      <p><a href="#" class="btn btn-warning btn-small">Reconnect Now</a></p>
  </div>
  {{/if}}
</template>

<template name="themePicker">
  {{#if theme}}
  <link rel="stylesheet" id="themeCSS" href="/themes/{{theme}}.css"/>
  {{/if}}
</template>