.messageBox{
    width: 25%;
position: absolute;
bottom: -242px;
	-webkit-transition: all 1000ms cubic-bezier(0.535, 0.135, 0.495, 1); /* older webkit */
-webkit-transition: all 500ms cubic-bezier(0.535, 0.135, 0.495, 1.210); 
   -moz-transition: all 500ms cubic-bezier(0.535, 0.135, 0.495, 1.210); 
     -o-transition: all 500ms cubic-bezier(0.535, 0.135, 0.495, 1.210); 
        transition: all 500ms cubic-bezier(0.535, 0.135, 0.495, 1.210); /* custom */
    z-index: 1000;

}
.messageBox.shown{
	-webkit-transform:translateY(-250px);
}
.messageBox .messageBoxHeader{
    height:20px;
    width: 100%;
    padding-left: 15px;

}
.messageBox .messageBoxHeader{-webkit-clip-path: polygon(0% 0%, 0% 100%, 90% 100%, 100% 0%);}
.messageBox #message, .messageBox .chat{
 -webkit-transition: all 1000ms cubic-bezier(0.535, 0.135, 0.495, 1); /* older webkit */
-webkit-transition: all 500ms cubic-bezier(0.535, 0.135, 0.495, 1.210); 
   -moz-transition: all 500ms cubic-bezier(0.535, 0.135, 0.495, 1.210); 
     -o-transition: all 500ms cubic-bezier(0.535, 0.135, 0.495, 1.210); 
        transition: all 500ms cubic-bezier(0.535, 0.135, 0.495, 1.210); /* custom */   
}
.messageBox #message{
    opacity: 0;
	width: 90%;
	font-size: 10px;
	padding: 1px;
	padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.7980392);
}
.messageBox .chat {
    opacity: 0;
    width: 90%;
	height: 210px;
	font-size: 10px;
	padding: 1px;
	padding-left: 5px;
	overflow: scroll;
    background-color: rgba(0, 0, 0, 0.7980392);
}
.messageBox.shown .chat, .messageBox.shown #message{
opacity: 1;
} 