body > .container-fluid{
	margin: 0;
	padding: 0;
}

svg.layout-chrome {
	width: 100%;
	height: 1%;
}

svg.layout-chrome polyline {
	fill: rgba(46,156,197,0.5);
	stroke:#939598;
	stroke-width:2;
	stroke-miterlimit:10;
}

svg.layout-chrome text {
	text-anchor: middle;
}

.layout-top {
	position: absolute;
}

.layout-middle {
	padding-bottom: 7%;
	padding-top: 9%;
}

.layout-bottom {
	position: fixed;
	bottom: -7px;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container-fluid{
    background-color: #287DA6;
    background-image: url(/themes/default/public/back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    box-shadow: rgba(0,0,0,.75) 0 0 100px 0px;
    -webkit-transition: all 400ms cubic-bezier(0.175, .885, .335, 1.05);
    -moz-transition: all 400ms cubic-bezier(0.175, .885, .335, 1.05);
    -o-transition: all 400ms cubic-bezier(0.175, .885, .335, 1.05);
    transition: all 400ms cubic-bezier(0.175, .885, .335, 1.05);    
    z-index: 4;
	float: right;
	overflow: hidden;
}

.menu-open .container-fluid{
	-webkit-transform: scale(.75) translateX(40%);
}

.menu-area{
	background-color: #284076;
	 background-image: url(/themes/default/public/bg-nav-1200x1000.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100%;
    height: 900px;
    position: relative;
    top: 0px;
    text-align: left;
	float: left;
	z-index: 1;
}

.nav-list {
     position: absolute;
    left: 0%;
    top: 20%;
    font-size: 36px;
 }
    
.nav-list li{
	opacity: 0;
	line-height: 44px;
	margin-bottom: 1.5rem;
	font-weight: 300;
	color: #fff;
	display: block;

	margin: 0;
	font-style: normal;
	box-sizing: border-box;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
    -webkit-transform: translate(-500%, 0%);
    -moz-transform: translate(-500%, 0%);
    -o-transform: translate(-500%, 0%);
    -ms-transform: translate(-500%, 0%);
    transform: translate(-500%, 0%);
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
}
.nav-list a{
		color: #fff;
}
.nav-list a:hover {
	color: #ccc;
	text-decoration: none;
}

.menu-open .nav-list li{
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}
.menu-open .menu-area .nav-list li:nth-child(1) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.menu-open .menu-area .nav-list li:nth-child(2) {
    -webkit-transition-delay: .04s;
    -moz-transition-delay: .04s;
    -o-transition-delay: .04s;
    transition-delay: .04s;
}
.menu-open .menu-area .nav-list li:nth-child(3) {
    -webkit-transition-delay: .08s;
    -moz-transition-delay: .08s;
    -o-transition-delay: .08s;
    transition-delay: .08s;
}
.menu-open .menu-area .nav-list li:nth-child(4) {
    -webkit-transition-delay: .12s;
    -moz-transition-delay: .12s;
    -o-transition-delay: .12s;
    transition-delay: .12s;
}
.menu-open .menu-area .nav-list li:nth-child(5) {
    -webkit-transition-delay: .16s;
    -moz-transition-delay: .16s;
    -o-transition-delay: .16s;
    transition-delay: .16s;
}
.menu-open .menu-area .nav-list li:nth-child(6) {
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}
.menu-open .menu-area .nav-list li:nth-child(7) {
    -webkit-transition-delay: .24s;
    -moz-transition-delay: .24s;
    -o-transition-delay: .24s;
    transition-delay: .24s;
}
.menu-open .menu-area .nav-list li:nth-child(8) {
    -webkit-transition-delay: .28s;
    -moz-transition-delay: .28s;
    -o-transition-delay: .28s;
    transition-delay: .28s;
}