<template name="core_stationUtility">
  <form class="form-inline">
    <select class="action">
      <option value="flash">Flash</option>
      <option value="reselect">Reselect Station</option>
    </select>
  
    <select class="target">
      {{#if stations}}
        <optgroup label="Stations">
          {{#each stations}}
          <option value="{{_id}}">{{name}}</option>
          {{/each}}
        </optgroup>
      {{/if}}
      {{#if participants}}
        <optgroup label="Participants">
          {{#each participants}}
          <option class="participant" value="{{_id}}">{{name}}</option>
          {{/each}}
        </optgroup>
      {{/if}}
    </select>
    <button class="btn btn-warning">Run</button>
  </form>
</template>