#sensor_grid{
}
@media (min-width: 1025px){
	.sensor_box{
		background-image: radial-gradient(ellipse at center, rgba(0,0,0,0) 30%,rgba(0,125,255,0.75) 65%,rgba(0,0,0,0) 70%);
	    background-size: 0%;
	   	background-position: center;
		background-repeat: no-repeat;
	    transition: background-size ease-in;
	    transition-duration: 0s;
	}
	.sensor_box.animating{
		background-size: 300%;
		transition:background-size;
	    transition-duration: 5.5s;
	}
	.sensor_box.infared{
		background-image: radial-gradient(ellipse at center, rgba(0,0,0,0) 30%,rgba(255,0,0,0.75) 65%,rgba(0,0,0,0) 70%);
	}
}
.sensor_box{
	z-index: 1;
	position: relative;
	width: 580px;
	margin-left: -290px;
	left: 50%;
	border-radius: 5000px;
	border: solid 3px rgba(50,50,50,0.75);
    box-shadow: inset 0px 0px 500px #000;
}

#coreSensor3d{
	position: relative;
	background-color: #000;
	height: 300px;
}
#coreSensor3d #sensorContacts{
	float: left;
	position: relative;
}

#coreSensor3d #sensorContacts .form-control{
	height: 19px;
	width: 120px;
	background-color: #444444;
	color: #fff;
	border-color: #222222;
	font-size: 12px;
}
#sensorGrid{
	float: left;
}
.shown{
	height: auto !important;
	opacity: 1 !important;
	transition: opacity 0.0s ease;
}

.sensorLabel{
	height: 0;
	opacity:0;
	color: #fff; 
	position:absolute; 
	font-size: 10px;
	z-index: 1000;
	width: 250px;
	background-color:rgba(0,0,0,0.5);
	border: solid 2px rgba(255,255,255,0.2);
	border-radius: 2px;
}
.sensorLabel img{
	width: 75px;
	float: left;
	border-right: solid 1px rgba(255,255,255,0.1);
	margin-right: 5px;
}
.sensorLabel p{
	padding: 2.5px;
	margin-left: 5px;
}
#gridContacts{
	position: absolute;
	top: -3px;
}
#gridContacts li{
	position: absolute;
}
#sensorContacts, #gridContacts{
	list-style: none;
	padding: 0;
	margin: 0;
}
#sensorContacts li, #gridContacts li{
	padding: 0;
	margin: 0;
}
#sensorContacts li input{
	float: right;
}
#sensorContacts li img{
	float: left;
}
.pingOptions{
	list-style: none;
	width:  100%;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	text-align:center;
	border: solid 2px rgba(255,255,255,0.4);
}
.pingOptions li{
	margin: 5px;
	padding: 7px;
	border-radius: 2px;
}
#manualScan.manual{
	background-color: rgba(255,255,255,0.30);
}
#passiveScan.passive{
	background-color: rgba(255,255,255,0.30);
}
#activeScan.active{
	background-color: rgba(255,255,255,0.30);
}
#ping.btn.manual{
	opacity: 1 !important;
}
#ping.btn {
	transition: opacity 0.5s ease-in;
	opacity: 0;
	width: 100%;
}