.connectionBox .row{
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;

}
.connectionBox label, .connectionBox button{
  flex-grow: 1;
  -webkitflex-grow: 1;
  margin: 5px;
  -webkit-transition: opacity 0.5s ease;
}
.connectionBox .deckSelect{
  flex-grow: 1;
}
.connectionBox .connected *:not(.connect) {
    pointer-events: none;
}
.connectionText{
  display: none;
}
.connectionText.connected{
  display: block;
}
.not-shown{
  opacity: 0.75;
}
